<h1 id="page_title">Learning Resources</h1>

<div id="posts_wrapper" class="skinny_wrapper">
  <div class="post">
    <% @notes.each do |note| %>

        <h2><%= link_to note.title, note %></h2>
        <p class="date"><%= note.created_at.strftime('%b %d, %Y') %></p>
        <hr>

    <% end %>

    <% if user_signed_in? %>
      <%= link_to "new note", new_dashboard_note_path, class: "view_more" %>
    <% end %>
  </div>
</div>

<%= will_paginate @posts %>
