<h1>note edit action</h1>

<h1 id="page_title">Edit Note</h1>

<div class="skinny_wrapper wrapper_padding">
  <%= form_for @note, url: dashboard_note_path, method: :patch do |f| %>

    <%= render 'form', {:f => f} %>

    <%= f.submit %>
  <% end %>

</div>
