<h1>note new action</h1>

<h1 id="page_title">New Note</h1>

<div class="skinny_wrapper wrapper_padding">
  <%= form_for @note, url: dashboard_notes_path, method: :post do |f| %>

    <%= render :partial => 'form', locals: {:f => f} %>

    <%= f.submit %>
  <% end %>

</div>
