<h1>post index view</h1>

<div id="post_show_content" class="skinny_wrapper wrapper_padding">

  <% @posts.each do |post| %>
    <%= link_to post.title, post %>
  <% end %>

</div>

<% if user_signed_in? %>
  <%= link_to "new post", new_dashboard_post_path %>
<% end %>
