<h1 id="page_title">BULLETIN BOARD</h1>

<div id="posts_wrapper" class="skinny_wrapper">
  <div class="post">
    <% @posts.each do |post| %>

        <h2><%= link_to post.title, post %></h2>
        <p class="date"><%= post.created_at.strftime('%b %d, %Y') %></p>
        <hr>

    <% end %>

    <% if user_signed_in? %>
      <%= link_to "new post", new_dashboard_post_path, class: "view_more" %>
    <% end %>
  </div>
</div>

<%= will_paginate @posts %>
