<footer id="main_footer">
  <p class="copyright">&copy; 2017 MuCat Lab</p>
  <br>
  <p class="copyright">Website is made by <a href="https://github.com/NickWarm">NickWarm</a> ,
    UI design is adapted by <a href="https://github.com/mackenziechild">Mackenzie Child</a></p>
  <br>

  <% if user_signed_in? %>
    <p class="copyright">
      Welcome back <%= link_to current_user.email, current_user%>

      <% if current_user.fb_image.present? %>
        <%= image_tag(current_user.fb_image, size: "40") %>
      <% end %>,
      <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
    </p>
  <% end %>

</footer>
