<header id="main_navigation" class="clearfix">
  <%= link_to "MuCat Lab", root_path, class: "name" %>
  <nav>
    <a href="articles.html">學習資源</a>
    <a href="#">榮譽榜</a>
    <a href="#">實驗室成員</a>
  </nav>
</header>
