<header id="main_navigation" class="clearfix">
  <%= link_to "MuCat Lab", root_path, class: "name" %>
  <nav>
    <%= link_to "學習資源", notes_path %>
    <%= link_to "榮譽榜", posts_path %>
    <%= link_to "實驗室成員", users_path %>
  </nav>
</header>
